@page
@model Eshop.RazorPage.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "ثبت نام در سایت";
    Layout = "Shared/Layouts/_AuthLayout";
}


<div class="auth-form shadow-around">
    <div class="site-logo">
        <a href="/">
            <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        @ViewData["Title"]
    </div>
    <form method="post">
       
          @Html.EditorFor(m=>m.PhoneNumber)
       
            @Html.EditorFor(m=>m.PassWord)
        
           @Html.EditorFor(m=>m.ConfirmPassWord)
       
        <div class="form-element-row">
            <label class="container-checkbox">
                <a href="#" class="link--with-border-bottom">حریم خصوصی</a> و 
                <a href="#" class="link--with-border-bottom">شرایط و قوانین</a> استفاده از سرویس های سایت
                همتا را مطالعه نموده
                و با کلیه موارد آن موافقم.
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-element-row text-left">
            <button class="btn-element btn-success-element">
                <i class="fad fa-user-edit"></i>
                ثبت نام در سایت
            </button>
        </div>

    </form>
    <div class="auth-form-footer">
        <span>قبلا  ثبت ‌نام کرده‌اید؟</span>
        <a asp-asp-page="Login" class="link--with-border-bottom">ورود به سایتد</a>
    </div>
</div>